// Colors
// main background
$clr1: #ffffff;
// statistics background
$clr2: #eff1f7;;
// footer text
$clr3: #bfbfbf;
// main text
$clr4: #9e9aa8;
// title text
$clr5: #34313d;
// footer bgcolor
$clr6: #232127;
// btn background
$clr7: #2bd0d0;

// Breakpoints
// $mobile-breakpoint: 375px;
$mobile-breakpoint: 414px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1110px;
