.call-to-action {
  height: 250px;
  background-image: url(../../assets/imgs/call-to-action-bg.png);
  background-size: cover;
  padding-left: 18px;
}

.call-to-action-container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.call-to-action-title {
  width: 504px;
  height: 49px;
  color: $clr1;
  margin-top: 57px;
  margin-bottom: 31px;
  text-align: center;
}

@include for-tablet-layout {
  .call-to-action {
    height: 200px;
  }

  .call-to-action-title {
    width: 359px;
    height: 34px;
    margin-left: 58px;
    margin-right: 93px;
  }

  .bottom-left-picture-desktop-container {
    display: none;
  }

  .bottom-left-picture-mobile-container {
    display: flex;
    position: absolute;
    align-self: flex-end;
    width: 198px;
    height: 122px;
  }
}

@include for-mobile-layout {
  .call-to-action {
    height: 300px;
    background-image: url(../../assets/imgs/call-to-action-bg-mobile.png);
    background-size: cover;
    padding-left: unset;
  }

  .call-to-action-container {
    flex-direction: column;
    align-items: center;
  }

  .call-to-action-title {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 16px;
    margin-left: unset;
    margin-right: unset;
  }

}
